* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-shadow: 10px 0 10px rgb(71, 21, 21);
  margin: 20px;
}

h1 {
  margin-top: 40px;
  margin-left: 50px;
  font-size: 60px;
}

.lead-hole {
  display: flex;
  width: 100%;
  margin-top: 70px;
  font-size: 30px;
  padding-left: 130px;
  gap: 60px;
}

.refresh {
  height: 35px;
  width: 110px;
  margin-top: 15px;
  font-size: 20px;
  border: 1px solid rgb(75, 73, 73);
  box-shadow: 5px 5px rgb(99, 76, 76);
}

.refresh:hover {
  color: rgb(109, 109, 109);
  background-color: rgb(71, 13, 13);
}

.hole-list {
  width: 40%;
}

.class-list {
  display: flex;
  justify-content: space-between;
}

.inser-list {
  width: 30%;
}

.lists {
  border: 1px solid black;
  margin-top: 20px;
}

ul {
  list-style: none;
}

li {
  padding: 15px;
}

li:nth-child(even) {
  background-color: rgb(233, 225, 225);
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action {
  font-size: 30px;
}

.name-input {
  height: 40px;
  width: 70%;
  margin-top: 18px;
  border: 1px solid rgb(71, 70, 70);
}

.score-input {
  height: 40px;
  width: 70%;
  margin-top: 10px;
  border: 1px solid rgb(71, 70, 70);
}

.submit {
  height: 35px;
  font-size: 20px;
  width: 30%;
  margin-top: 20px;
  margin-left: 150px;
  border: 1px solid rgb(87, 86, 86);
  box-shadow: 5px 5px rgb(99, 76, 76);
}

.submit:hover {
  color: rgb(150, 145, 145);
  background-color: rgb(119, 23, 23);
}
